::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #d7dbdc;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b7bbbd;
}

button:hover {
  background-color: #e57607 !important;
}

.otp-form-control {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  gap: 30px;
  justify-content: space-between;

  input {
    width: 60px !important;
    height: 60px !important;
    border: 2px solid #d7dbdc;
    border-radius: 10px;
    color: #000000;
    font-size: 38px;
    text-align: center;
    font-weight: 400;
  }
  input:focus-visible {
    outline: 2px solid #e57607;
    border: 0 !important;
  }

  .fill-otp {
    border: 2px solid #e57607;
  }
}

.device-code-form-control {
  // width: 100%;

  // padding-left: 50px;
  // padding-right: 50px;
  background-color: #ffffff;
  // display: flex;
  // justify-content: center;
  // gap: 50px;
  border: 2px solid #d7dbdc;
  border-radius: 10px;
  // justify-content: space-between;
  input {
    cursor: pointer;
    min-width: 60px !important;
    width: unset !important;
    height: 60px !important;
    border: 0;
    color: #a5acae;
    text-transform: uppercase;
    font-size: 32px;
    border-radius: 10px;
    text-align: center;
    font-weight: 300;

    &:focus-visible {
      outline: 0;
      border: 0 !important;
    }

    &:nth-child(4n + 4) {
      border-right: 2px solid #d7dbdc !important;
      border-radius: 0;
      margin: 0;
      // padding: 1rem;
    }

    &:last-child {
      border-right: 0 !important;
      border-radius: 10px;
    }
  }
}

.MuiPaper-root {
  border-radius: 6px;
}

.MuiList-root {
  padding: 0 !important;
  // background-color: #eef5f6;
  border-radius: 6px;

  .Mui-selected {
    background-color: #eef5f6 !important;

    &:hover {
      background-color: #eef5f6;
    }
  }

  li {
    justify-content: center;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 400;
    &:hover {
      background-color: #eef5f6;
    }
  }
}

.MuiOutlinedInput-notchedOutline {
  border-color: #f3f3f3 !important;
}

@media only screen and (max-width: 599px) {
  .otp-form-control {
    padding-left: 12px;
    padding-right: 12px;
    input {
      width: 40px !important;
      height: 40px !important;
      border-radius: 10px;
      font-size: 26px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .MuiList-root {
    li {
      font-size: 10px;
    }
  }
  .device-code-form-control {
    input {
      min-width: 30px !important;
      width: unset !important;
      height: 40px !important;
      font-size: 24px;
    }
  }
}

.time-picker-calender {
  @mixin hideScrollbars {
    -ms-overflow-style: none; // IE 10+
    &::-webkit-scrollbar {
      display: none;
    }
  }
  $blue: darken(cornflowerblue, 10);
  $cool-gray: #eff1f1;
  $factory-yellow: #f3e033;

  .picker-window {
    position: absolute;
    // z-index: -1;
    opacity: 1;
    border-radius: 6px;
    height: 32px;
    background-color: #ffffff;
    left: 0;
    top: 50%;
    transform: translateY(-65%);
    width: 100%;
    pointer-events: none;
  }

  .picker {
    display: inline-grid;
    position: relative;
    background: transparent;
    grid-template-columns: repeat(4, fit-content(500px));
    font-size: calc(0.5rem + 1.4vw);
    position: relative;
    font-feature-settings: "tnum";
    font-weight: 400;

    ul {
      @include hideScrollbars();
      max-height: 4em;
      overflow-y: scroll;
      margin-right: 0.6rem;
      margin-left: 0.6rem;
      scroll-snap-type: y mandatory;
      padding-bottom: 3em;
      z-index: 1;
      padding-top: 3em;
    }
    li {
      scroll-snap-align: center;
      height: 2em;
      text-align: center;
      color: #e57607;
      font-weight: 500;
      font-size: 18px;
      padding-top: 7px;
    }
  }

  .picker-day {
    padding-right: 0.5em;
    span {
      padding-left: 0.56em;
    }
  }
}
